body, html{
    margin: 0;
    padding: 0;

}

#root{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

.App{
    position: relative;
    height: 100vh;

    
}

.maze{
    background-color: lightblue;

}


